/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/

/* ---- max-width : 1350px ---- */
@media screen and (max-width: 1350px) {
  .content:before {
    top: 15%;
  }
  .content:after {
      bottom: 20%;
  }
}

/* ---- max-width : 1250px ---- */
@media screen and (max-width: 1250px) {
  .section {
    padding-left: 30px;
    padding-right: 30px;
  }

  .header-content:after {
    left: 30px;
  }
}

/* ---- max-width : 1100px ---- */
@media screen and (max-width: 1100px) {
  .content:before,
  .content:after {
      display: none;
  }

  .content-icon {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
  }

  .block-icon:first-child {padding-right: 0;}

  .block-icon:last-child {
    margin-top: 50px;
    padding-left: 0;
  }

  .icon-text p {
    max-width: 70%;
  }

  .content-title h2 {
    font-size: 60px;
    line-height: 70px;

    &:last-child {
      top: -40px;
    }
  }
}

/* ---- max-width : 1000px ---- */
@media screen and (max-width: 1000px) {
  .call-to-action:before {
      top: 40px;
    }

    .call-to-action:after {
      bottom: 20px
    }
}

/* ---- max-width : 830px ---- */
@media screen and (max-width: 830px) {
  .section-margin-large{
    padding: 150px 0;
  }

  .header-logo {
    margin: 0 auto;
  }

  .content:before,
  .content:after {
      display: none;
  }

  .wrapper-content {
    -ms-aligns-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }


  .block {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1;
    flex: 1 1 auto;
  }

  .content-descript {
    width: 100%;
  }

  .content-icon {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .block-icon:first-child {padding-right: 15px;}
  .block-icon:last-child {padding-left: 15px;}

  .block-icon:last-child {
    margin-top: 0;
  }

  .icon-text p {
    max-width: 100%;
  }
}

/* ---- max-width : 650px ---- */
@media screen and (max-width: 650px) {
  .header {
    height: 556px;
  }
  .content-icon {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .block-icon:first-child {padding-right: 0;}

  .block-icon:last-child {
    margin-top: 50px;
    margin-right: 0;
    padding-left: 0;
  }

  .icon-text p {
    font-size: 16px;
    max-width: 80%;
  }
}

/* ---- max-width : 600px ---- */
@media screen and (max-width: 600px) {
  .call-to-action:before,
  .call-to-action:after {
      display: none;
    }

  .container-call-to-action {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;

    button {
      margin-top: 10px;
      width: 100%;
    }

    input {
      padding: 13px 0 13px 10px;
      text-align: center;
      display: inline-block;
    }
  }

  .content-title h2 {
    font-size: 50px;
    line-height: 60px;

    &:last-child {
      top: -35px;
    }
  }

  .icon-text p {
    max-width: 100%;
  }
}

/* ---- max-width : 450px ---- */
@media screen and (max-width: 450px) {
  .section-margin-large{
    padding: 100px 0;
  }

  .wrapper-content {
    -ms-aligns-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content-title h2 {
    font-size: 40px;
    line-height: 50px;

    &:last-child {
      top: -30px;
    }
  }
}

/* ---- max-width : 360px ---- */
@media screen and (max-width: 360px) {
  .footer-link{
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;

    a:first-child {
      display: block;
      padding-right: 0;
      padding-bottom: 20px;
    }
  }

  .container-call-to-action input {
    width: 260px;
    }
  .content-title h2 {
    font-size: 35px;
    line-height: 40px;

    &:last-child {
      top: -22px;
    }
  }
}
